<section class="ui segment" action="/stations/${_station.id}/addlatestreadings" method="POST">
    <div class="ui five inverted stackable cards">
      
        <div class="card">
            <div class="content">
            <h1 class="ui large header">{{title}}</h1>
            </div>
            <div class="extra">
                <h3 class="header">
                </h3>
                <h4>
                  Latitude: {{latitude}} &#176
                <br>
                  Longitude: {{longitude}} &#176
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <h3 class="header">
                    Weather <i class="${_station.latestWeather} right floated cloud sun icon large white"></i>
                </h3>
              
                <h4 class="header"> {{report.conditions}}
                </h4>
                <h2 class="ui center aligned icon">
                  <i class="blue {{report.icon}} large icon"></i>
                </h2>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <h3 class="header">
                    Temp <i class="right floated temperature high icon large blue"></i>
                </h3>
              <i class="blue {{report.tempTrend}} icon"></i>
                <h4 class="header">
            {{report.tempC}} &#176C
          <br>
          {{report.tempF}} &#176F
                    <br>
                    Max: {{report.maxTemp}}
                    <br>
                    Min:  {{report.minTemp}}
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="extra">
              
                <h3 class="header">
                    Wind <i class="right floated wind icon green extra large"></i>
                </h3>
              <i class="blue {{report.windTrend}} icon"></i>
                <h4 class="header">
          {{report.windSpeed}} km/hr
          <br>
          {{report.beaufort}} bft
          <br>
          Feels like: {{report.windChill}} &#176C
          <br>
          Direction: {{report.windCompass}} {{report.windDirection}} &#176
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <h3 class="header">
                    Pressure <i class="right floated arrows alternate icon orange extra large"></i>
                </h3>
              <i class="blue {{report.pressureTrend}} icon"></i>
                <h4 class="header">
                    {{report.pressure}} hPa
                    <br>
                    Max: {{report.maxPressure}}
                    <br>
                    Min: {{report.minPressure}}
                  <br>
                  
                </h4>
            </div>
        </div>
    </div>
  
</section>