<div class="ui inverted card">
  <div class="content">
    <h1 class="ui large header">{{name}}</h1>
  </div>
  <h2 class="ui center aligned icon">
    <i class="blue {{report.icon}} massive icon"></i>
  </h2>>
  <div class="extra content">
    <h3 class="center aligned header">
      {{report.conditions}}
    </h3>
    <p>
      Latitude: {{latitude}} &#176
      <br>
      Longitude: {{longitude}} &#176
    </p>
  </div>
</div>